html {
    background-color: #f1f1f1;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    margin-top: 80px;
    text-align: center;
}

#form {
    text-align: center;
}

#input {
    width: 420px;
    height: 25px;
    background-color: #eaebd7;
    border-radius: 5px;
}

#add {
    width: 100px;
    height: 31px;
    border: 2px solid #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: azure;
    background-color: #000;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 24px -5px rgba(0,0,0,0.78); 
    box-shadow: 4px 4px 24px -5px rgba(0,0,0,0.78);
}

#add:hover {
    cursor: pointer;
    transition: all 0.3s;
    -webkit-box-shadow: 4px 4px 24px 2px rgba(0,0,0,0.78); 
    box-shadow: 4px 4px 24px 2px rgba(0,0,0,0.78);
}

#toDoContainer {
    width: 500px;
    height: 400px;
    background-color: #f1f3bd;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin: 20px 74px;
    padding: 15px 20px;
    -webkit-box-shadow: 2px 26px 34px -5px rgba(0,0,0,0.68); 
    box-shadow: 2px 26px 34px -5px rgba(0,0,0,0.68);
}

.div-content.done {
    text-decoration: line-through;
}

.check-button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    color: green;
    margin-left: 15px;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 24px -5px rgba(0,0,0,0.78); 
    box-shadow: 4px 4px 24px -5px rgba(0,0,0,0.78);
}

.check-button:hover {
    cursor: pointer;
    transition: all 0.3s;
    -webkit-box-shadow: 4px 4px 24px 2px rgba(0,0,0,0.78); 
    box-shadow: 4px 4px 24px 2px rgba(0,0,0,0.78);
}

.delete-button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    color: red;
    margin-left: 30px;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 24px -5px rgba(0,0,0,0.78); 
    box-shadow: 4px 4px 24px -5px rgba(0,0,0,0.78);
}

.delete-button:hover {
    cursor: pointer;
    transition: all 0.3s;
    -webkit-box-shadow: 4px 4px 24px 2px rgba(0,0,0,0.78); 
    box-shadow: 4px 4px 24px 2px rgba(0,0,0,0.78);
}

.div-content {
    width: 60%;
    display: inline-block;
    word-break: break-word;
}

.div-buttons {
    width: 30%;
    display: inline-block;
}